html {
  font-family: sans-serif;
  text-align: center;
  background: url(https://img.etsystatic.com/il/3cbd2f/1120523464/il_570xN.1120523464_ngse.jpg?version=0);
  background-size: cover;
  background-position: bottom;
  color: white;
  background-color: rebeccapurple;
}
